<head>
  <script src="https://unpkg.com/vue"></script>
</head>
<h1>Users Data for <%= user.fullName %></h1>

<table class="table" style="text-align: left;">
  <tr>
    <th>Name</th>
    <td><%= user.fullName %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= user.email %></td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td><%= user.zipCode %></td>
  </tr>
  <tr>
    <th>API Token</th>
    <td><%= user.apiToken %></td>
  </tr>
  <tr>
    <th>My Balance</th>
    <td>
      XXX <!--show balance-->
    </td>
  </tr>
  <tr>
    <td>
      <button type="button">
        <a href="/balances" style="color:white;">
          show
        </a>
      </button>
      <button type="button">
        <a href="/balances/new" style="color:white;">
          input
        </a>
      </button>
    </td>
  </tr>
  <tr>
    <th>Spendings</th>
    <td>
      XXX <!--loop foreach spendings-->
    </td>
  </tr>
  <tr>
    <td>
      <button type="button">
        <a href="/categories" style="color:white;">
          show
        </a>
      </button>
      <button type="button">
        <a href="/categories/new" style="color:white;">
          input
        </a>
      </button>
    </td>
  </tr>
</table>

<br>
<div>
  <button type="button">
    <a href="/users" style="color:white;">
      back
    </a>
  </button>
  <button type="button">
    <a href="<%= `/users/${user._id}/edit` %>" style="color:white;">
      edit
    </a>
  </button>
  <button type="button">
    <a href="<%= `/users/${user._id}/delete?_method=DELETE` %> " onclick="return confirm('Are you sure you want to delete this record?')" style="color:white;">
      delete
    </a>
  </button>
</div>

<div id="taskList">
<!-- Start App -->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
      <h3>{{ title.taskList }}</h3>
     <ul class="list-group tasklistPane" >
      <li class="list-group-item" v-for="(task,index) in tasks" v-show="task.completed != true">
        <input type="checkbox" :id="'incompleted-task-id-' + index " v-model="task.completed"> <label :for="'incompleted-task-id-' + index ">{{task.description}}</label>
        <div class="btn-group pull-right">
          <button class="btn btn-success btn-xs" @click="editTaskIndex = index"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger btn-xs" @click="deleteTask(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
       </li>

       <li class="list-group-item" v-if="editTaskIndex < 0">
          <input type="text" class="form-control" placeholder="Type and hit enter" ref="newTask" @keyup.enter="addTask">
       </li>

       <li class="list-group-item" v-if="editTaskIndex > -1">
         <div class="has-success">
            <input type="text" class="form-control" placeholder="Exit and hit enter" v-model="tasks[editTaskIndex].description" @keyup.enter="editTaskIndex = -1 , edited()" @keyup.enter="edited">
         </div>
       </li>
     </ul>

    <!-- Completed tasks -->
    <div v-if="completeTasks.length > 0">
      <h3>{{ title.completedTasks }}</h3>
       <ul class="list-group" >
        <li class="list-group-item" v-for="(task,index) in completeTasks">
          <input type="checkbox" :id="'completed-task-id-' + index " v-model="task.completed"> <label :for="'completed-task-id-' + index ">{{task.description}}</label>

         </li>
       </ul>
    </div>

  </div><!-- .col-md-6.col-md-offset-3 -->
</div><!-- .container -->


<!-- End App -->
</div><!-- #taskList -->

<script src="/js/taskList.js"></script>
